* {
    margin: 0;
    padding: 0;
    cursor: url(../static/images/cursor.png), auto;
}

section {
    background-color: rgb(126, 249, 126);
}

.containe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    gap: 2%;
    background-color: rgb(3, 153, 3);
    border-radius: 20px;
    color: #fff;
}

.imaa {
    width: 100%; /* Adjust width as needed for responsiveness */
    max-width: 150px; /* Add maximum width to prevent stretching */
    border-radius: 40px;
}

.chi {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
}

.chi h2 {
    font-size: 3vw; /* Adjust font size relative to viewport width */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chi h4 {
    font-size: 3vw; /* Adjust font size relative to viewport width */
    padding: 2% 0;
}

.chi p {
    font-size: 1.5vw; /* Adjust font size relative to viewport width */
    font-family: 'Times New Roman', Times, serif;
    padding: 2% 0;
}

.render {
    size: 20vw; /* Adjust size relative to viewport width */
    padding: 5%;
    display: flex;
    justify-content: center;
}

.btn6 {
    background: none;
    border: 0.2em solid green;
    font-size: 1vw; /* Adjust font size relative to viewport width */
    color: #d7f194;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 4px;
    background-color: rgb(37, 138, 37);
    font-weight: bolder;
    box-shadow: 0.1em 0.1em 0.6em #013405;
    width: 20vw; /* Adjust width relative to viewport width */
    height: 8vw; /* Adjust height relative to viewport width */
    margin-top: 0;
    right: 0;
}

.btn6:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    background-color: #b3f50e;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
    overflow: hidden;
}

.btn6:hover {
    background-color: #67f706;
    color: #3b750c;
    font-weight: 700;
    border-color: #67f706;
    letter-spacing: 0.25em;
    box-shadow: 0.5em 0.5em 1em rgb(41, 249, 9);
}

.btn6:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn6:active {
    transform: scale(0.9);
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .containe {
        flex-direction: column;
    }
}
